body {
  display: grid; 
  grid-template-columns: 1fr 40% 1fr; 
  grid-template-rows: 10% 2.1fr; 
  gap: 0px 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(116, 116, 116);
  }

main {
  grid-column: 2;
  grid-row: 2;
}

h1 {
line-height: 1.3;
}

#msg, #balance {
  font-family: 'Press Start 2P', cursive;
  color: rgb(68, 82, 109);
}

#msg {
  text-transform: uppercase;
}

#msg-box {
  padding: 10px;
  height: 80px;
  background-color: rgb(200, 244, 244);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 60px;
}

#balance-box {
  padding: 5px;
  padding-left: 20px;
  width: 45%;
  text-align: left;
  background-color: rgb(200, 244, 244);
  border-radius: 30px;
}

#msg-box, #balance-box {
  background-color: rgb(200, 244, 244);
  box-shadow: inset 0 0 15px rgb(104, 104, 104);
}

#balance {
  padding: 0;
  font-size: 15pt;
}

.money {
  display: flex;
  justify-content: space-between;
  margin: 0 9% 0 9%;
  align-items: flex-start;
  line-height: 1vh;
}

.button-row {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 5vh;
  margin: 4vh 9% 4vh 9%;
  gap: 20px;
}

#slots {
  display: flex; 
  justify-content: center;
  gap: 10px;
  position: fixed 50% 50%;
}

button.game {
  --bg: #5bb5df;
  --text-color: #fff;
  position: relative;
  width: 200px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #5195b5 0px 7px 2px, #000 0px 8px 5px;
}

button.game:hover {
  opacity: 1;
}

button.game:active {
  top: 4px;
  box-shadow: #5195b5 0px 3px 2px,#9fe1ff 0px 3px 10px;
}

.wheel {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  box-shadow: inset 0 0 15px rgb(104, 104, 104);
  width: 150px;
  height: 400px;
  justify-items: center;
  overflow: auto;
  font-size: 100px;
}

.pop-out {
  padding: 5vw;
  box-shadow: 0 5px 10px rgb(104, 104, 104);
}

.manage-funds {
  align-items: center;
  text-align: left;
}

#pop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

#close-rules, #close-money {
  height: 100px;
  margin: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 20pt;
}

input {
  padding: 20px 50px;
  margin-bottom: 5vh;
  font-size: larger;
}

#how-to {
  margin-top: 2vh;
  padding: 0;
  background-color: rgba(240, 248, 255, 0);
  color: rgb(205, 205, 205);
}

#how-to:hover {
  color: rgb(91, 91, 255);
}

#rules-window{
  display: none;
  background-color: white;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#money-window {
  display: none;
  background-color: white;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  justify-content: center;
}

.counter{
  display: flex;
  padding: 0 5vh 0 5vh;
  margin: 3vh 0 3vh 0;
  justify-content: space-around;
}

.light{
  background-color: #721c1c;
  padding: 20px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0);
  border-style: none;
  box-shadow: inset -2px -2px 7px #382b2b;
}

#open-money {
  width: 150px;
}

.wager-spin {
  font-size: 4vh;
  line-height: 0vh;
}